@media (max-width: 600px) {
  header {
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0),
        rgb(255, 255, 255),
        rgb(255, 255, 255)
      ),
      url(./images/bg-header-mobile.png);
    padding: 1em;
  }
  header h1 {
    font-size: 2em;
    width: 95%;
    color: var(--Dark-Grayish-Blue);
  }
  .Paragraph {
    width: 95%;
    font-size: 1.6rem;
    line-height: 1.5;
  }
  .downloadBtns {
    gap: 1.5em;
  }
  .downloadBtns a {
    width: 90%;
    font-weight: 500;
    font-size: 2rem;
  }
  .page2 {
    padding: 0 1em;
    margin-top: 4em;
  }

  .flexContainerPage2 {
    flex-wrap: wrap;
    padding: 3em 0 0;
    right: 0;
  }
  .flexContainerPage2 img {
    width: 100%;
  }
  .details {
    text-align: center;
    width: 90%;
    margin-left: 0;
    justify-content: center;
  }
  .details li {
    padding: 1em 0;
  }
  /* ************************************************* */
  .page3 {
    padding-top: 5em;
    padding: 5em 1em 0;
  }
  .page3 img {
    width: 90%;
  }
  /* ******************************************* */
  .page4 {
    padding: 3em 1em 0;
  }
  .gridcontainerPage4 {
    grid-template-columns: 1fr;
    gap: 3em;
  }
  .sectionPage4 .img {
    padding-bottom: 1em;
  }
  .sectionPage4 p {
    padding-top: 1rem;
  }
  .clientLogos {
    gap: 4em;
    grid-template-columns: 1fr;
  }
  .clientLogos img {
    margin: auto;
  }
  /* ****************** */
  .page5{
    padding: 0 1em;
}
/* ************************ */
.footer{
    grid-template-columns: 1fr ;
    padding: 3em 1em;
}
.footer img{
    margin: auto;
}
.navlinks{
    margin: 1em 0;
    padding-right: 0;
}
.navlinks a{
    text-align: center;
    width: 100%;
}

}
